<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.3.1111/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.3.1111/styles/kendo.default.min.css" />

    <script src="http://cdn.kendostatic.com/2015.3.1111/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2015.3.1111/js/kendo.all.min.js"></script>
	<script src="http://kendo.cdn.telerik.com/2015.3.1111/js/messages/kendo.messages.zh-CN.min.js"></script>

</head>
<body>
        <div id="example">
		<h1  id="title">&nbsp;</h1>
            <div id="grid"></div>
 <script id="rowTemplate" type="text/x-kendo-tmpl">
	            <tr data-uid="#: id #">
		            <td class="photo">
                       <span class="tableName">#: tableName#  </span>
		            </td>
		            <td class="details">
			           <span class="tableCode">#: tableCode#  </span>
		            </td>
                    <td class="country">
			            #: createdAt #
		            </td>
		            <td class="employeeID">
		               #: updatedAt #
		            </td>
	           </tr>
            </script>
            <script id="altRowTemplate" type="text/x-kendo-tmpl">
	            <tr class="k-alt" data-uid="#: id #">
		            <td class="photo">
                       <span class="tableName">#: tableName#  </span>
		            </td>
		            <td class="details">
			           <span class="tableCode">#: tableCode#  </span>
		            </td>
                    <td class="country">
			            #: createdAt #
		            </td>
		            <td class="employeeID">
		               #: updatedAt #
		            </td>
	           </tr>
            </script>
			<script>
			$(document).ready(function () {
			  $.ajax({
				url: "/table/<%= tableId %>",
				dataType: "json", 
				success: function(result) {
				  // notify the data source that the request succeeded
				  $("#title").html("字段信息 / " + result.talbeName + "(" + result.tableCode +  ")");
				},
				error: function(result) {
				  // notify the data source that the request failed
				  $("#title").html("表名读取失败");
				}
			  });
			});
			</script>
            <script>
                $(document).ready(function () {
                    var crudServiceBaseUrl = "",
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl + "/<%= api %>/find",
                                    dataType: "json",
									data: { where: '{"tableId":"<%= tableId %>"}' }
                                },
								/*
                                update: {
                                    url: crudServiceBaseUrl + "/<%= api %>/2",
                                    dataType: "json" ,
									type: "PUT"
                                },*/
                                update: {
                                    url: function(options) {
									console.log("options.id:" + options.id);
										return crudServiceBaseUrl + "/<%= api %>/" + options.id;
									}
									,
                                    dataType: "json" ,
									type: "PUT"
                                },
                                destroy: {
                                    url: crudServiceBaseUrl + "/<%= api %>/destroy",
                                    dataType: "json" 
                                },
                                create: {
                                    url: crudServiceBaseUrl + "/<%= api %>/create",
                                    dataType: "json" ,
									type: "POST",
									data: {
										tableId: "<%= tableId %>"
									}
                                }
								/*,
								 parameterMap: function(data, type) {
      if (type != "read") {
        // send take as "$top" and skip as "$skip"
		console.log("data.id:" +data.id);
        return {
          $id: data.id,
          $name: data.name
        }
      }
    }*/
                            },
                            batch: false,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        createdAt: {  },
                                        updatedAt: {  },
										name: { validation: { required: true } },
                                    }
                                }
                            }
                        });

					dataSource.sync();
                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        pageable: true,
                        height: 550,
                        toolbar: ["create"], 
  
						/*
						serverFiltering: true,
						filterable: {
                            mode: "row"
                        },
						*/
						/*	*/
                        columns: [
                            { field: "columnName", title: "字段名称", format: "{0:c}", width: "220px",filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            } },
							{ field: "columnCode", title: "字段代码", format: "{0:c}", width: "220px",filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            } },
							{ field: "dataType", title: "字段类型", format: "{0:c}", width: "220px",filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            } },
							/*
							{ field: "tableId", title: "TableId", format: "{0:c}", width: "220px",filterable: {
                                cell: {
                                    operator: "contains"
                                }
                            } },
                            */
                            { command: ["edit", "destroy"], title: "编辑", width: "250px" }],
						
						 
                        //editable: "inline"
						 editable: "popup",
					//	 rowTemplate: kendo.template($("#rowTemplate").html()),
                    //    altRowTemplate: kendo.template($("#altRowTemplate").html())
                    });
					
					function showDetails(e) {
                    e.preventDefault();

                    var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                    
					console.log(dataItem);
					window.open("/greeting/myColumn?tableId=" + dataItem.id);
					}
                });
            </script>
        </div>


</body>
</html>