<!DOCTYPE HTML>
<html>
<head>
    <base href="/">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title>Dakava视频分享朋友圈工具</title>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.mobile.all.min.css" />

    <script src="//kendo.cdn.telerik.com/2016.1.112/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.1.112/js/kendo.all.min.js"></script>
</head>
<body>
<div data-role="view" data-init="mobileListViewEndlessScrolling"  data-title="我的视频" >
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">我的视频</span>
            <a data-align="right" data-icon="camera" data-role="button" href="#formappearance">选文件</a>
        </div>
    </header>

    <ul id="endless-scrolling"></ul>
</div>


<div data-role="view" id="formappearance" data-title="选文件" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" href="#/" data-align="left" data-role="backbutton">Back</a>
            <span data-role="view-title">Contacts</span>
        </div>
    </header>
  <form action="./index.html">
        <ul data-role="listview" data-style="inset">


            <li>
                <label>
                    视频文件
                     <input type="file" value="选择文件" />
                </label>
            </li>
            <li>
                <label>视频标题
                    <input type="text" value="请输入标题" />
                </label>
            </li>
            <li>
                <label>
                    说明
                    <textarea style="resize: none">请输入描述</textarea>
                </label>
            </li>
            <li>
                    <i></i> <a data-role="button" class="km-primary km-justified" data-icon="action" >上传视频文件</a>
            </li>
        </ul>
    </form>
    
    <footer data-role="footer">
        <div data-role="tabstrip">
            <a data-role="button" data-icon="home" data-badge="18">Inbox</a>
            <a data-role="button" data-icon="compose" data-badge="3">Drafts</a>
            <a data-role="button" data-icon="organize" data-badge="21">Junk</a>
            <a data-role="button" data-icon="trash" data-badge="53">Trash</a>
        </div>
    </footer>    
</div>




<script type="text/x-kendo-tmpl" id="endless-scrolling-template">
        <img src="#=imageUrl#" alt="#=title# image" class="km-thumbnail"
        style="border-radius: 0;  border-style: none; "
        />
        <h4>#:title#</h4>
        <p>#:kendo.toString(introduction, "c")#</p>
</script>

<script>
    function mobileListViewEndlessScrolling() {
        
        /*
        var dataSource = new kendo.data.DataSource({
            type: "odata",
            transport: {
                read: {
                    url: "/shareVideo"
                }
            },
            schema: {
                total: function () { return 77; }
            },
            sort: {
                field: "ProductID",
                dir: "desc"
            },
            serverPaging: true,
            serverSorting: true,
            pageSize: 50
        });
        */
           var crudServiceBaseUrl = "",
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl + "/<%= api %>",
                                    dataType: "json"
                                   , data: { where: '{"authorId":"<%= user %>"}' }
                                },
							
                                update: {
                                    url: function(options) {
									console.log("options.id:" + options.id);
										return crudServiceBaseUrl + "/<%= api %>/" + options.id;
									}
									,
                                    dataType: "json" ,
									type: "PUT",
									data: {
										user: "<%= user %>"
									}
                                },
                                destroy: {
                                    url: crudServiceBaseUrl + "/<%= api %>/destroy",
                                    dataType: "json" ,
									data: { q: "html5" }
                                },
                                create: {
                                    url: crudServiceBaseUrl + "/<%= api %>/create",
                                    dataType: "json" ,
									type: "POST",
									data: {
										user: "<%= user %>"
									}
                                }
                            },
                            batch: false,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        createdAt: {  },
                                        updatedAt: {  },
										name: { validation: { required: true } },
                                    }
                                }
                            }
                        });

        $("#endless-scrolling").kendoMobileListView({
            dataSource: dataSource,
            template: $("#endless-scrolling-template").text(),
            endlessScroll: true
        });
    }
</script>

<style>
#endless-scrolling h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}
</style>


<script>
    var app = new kendo.mobile.Application(document.body, { skin: "nova" });
</script>
</body>
</html>
