<!DOCTYPE HTML>
<html>
<head>
    <base href="/">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title>Dakava视频分享朋友圈工具</title>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.mobile.all.min.css" />

    <script src="//kendo.cdn.telerik.com/2016.1.112/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.1.112/js/kendo.all.min.js"></script>
    <script src="http://wx.jprda.com/components/jquery/MultiFile/jquery.MultiFile.js"></script>	
	
</head>
<body>
<div data-role="view" id="tabstrip-profile" data-init="mobileListViewEndlessScrolling"  data-title="我的视频" data-layout="mobile-tabstrip">
    <ul id="endless-scrolling"></ul>
</div>



<div data-role="view" id="tabstrip-upload" data-title="我要上传" data-layout="mobile-tabstrip">
 <form  method="post" action="/<%= api %>/myVideoUpload" id="uploadForm" enctype="multipart/form-data">
  
        <ul data-role="listview" data-style="inset">


            <li>
                <label  class="required"><b>视频文件*</b></label>
                     <input type="file"  value="选择文件"   id="video" name="video" />
                
            </li>
            <li>
                <label  class="required"><b>视频标题*</b>   </label>
                    <input type="text" name="title" required placeholder="请在此输入标题"  value="" id="title" />
             
            </li>
            <li>
            <label  class="required"><b>视频说明</b>   </label>
                    <textarea style="resize: none" id="introduction" name="introduction"
                    placeholder="请在此输入说明" ></textarea>
              
            </li>
            <!--
            <li class="status" style="text-algin:center;">
                    </li>-->
            <li>
                    <i></i> <a data-role="button" id="uploadButtom" class="km-primary km-justified" data-icon="action" >上传视频文件</a>
                    <input type="hidden" id="authorId" value="<%= user %>"/>
                    <input type="hidden" id="authorNickname" value="<%= user %>"/>
            </li>
            
        </ul>
    </form>
</div>
<script>



$(document).ready(function(){


    $("#video").kendoUpload({
                        async: {
                            saveUrl: "/ShareVideo/ajaxFileSave",
                            removeUrl: "/ShareVideo/ajaxFileRemove",
                            autoUpload: true
                        },
                        multiple: false
                    });


  $("#uploadButtom").click(function(){
    console.log('uploading.');
     var validator = $("#uploadForm").kendoValidator().data("kendoValidator");
     var status = $(".status");
    if (validator.validate()) {
        
    }else{
        status.text("请填写必填项")
       
                                .removeClass("valid")
                                .addClass("invalid");
         console.log("表单校验不通过");                        
                                return;
    }

 $.ajax({
            type:"POST",
            url:"/<%= api %>/myVideoUpload", 
            data:{
        title : $("#title").val(),
        mimeType: "multipart/form-data",
        introduction : $("#introduction").val(),
        url : $("#xx").val(),
        imageUrl : $("#xx").val(),
        authorId : $("#authorId").val(),
        authorNickname : $("#authorNickname").val()
        },
            //返回数据的格式
            datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
             
            success:function(data){
                $("#uploadFinish").kendoMobileModalView("open");
                console.log("ajax upload image ok"); 
            }   ,
            //调用出错执行的函数
            error: function(){
                //请求出错处理
                console.log("ajax upload image fail"); 
            }         
         });
         /*   	
         var url = "/<%= api %>/myVideoUpload";
         	$("#uploadForm").ajaxSubmit({  
           type: "POST",
           url: url,
            mimeType: "multipart/form-data",
           contentType: false,
           processData: false,
           dataType: "json",
           success: function(data)
           {	
                $("#uploadFinish").kendoMobileModalView("open");
				console.log("提交成功");
		   },
		   error: function()
           {	 
				console.log("提交失败");
		   }
		   });
		   */
	  
    
  });
});


function closeModalViewLogin() {
        $("#uploadFinish").kendoMobileModalView("close");
    
}
function viewVideoList() {
        window.location="/greeting/myVideo?user=<%= user %>";
}
function shareViedeo() {
        window.location="/greeting/shareViedeo?user=<%= user %>";
}
</script>


<div data-role="modalview" id="uploadFinish" style="width: 90%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>&nbsp;</span>
            <a data-click="closeModalViewLogin" data-role="button" data-align="right">关闭</a>
        </div>
    </div>

    <ul data-role="listview" data-style="inset">
        <li style="text-align: center;"> 您已经成功上传视频！</li> 
    </ul>
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="viewVideoList" id="modalview-login-button" type="button" data-role="button" data-align="right">查看我的视频列表</a>
            <a data-click="shareViedeo" id="modalview-reg-button" type="button" data-role="button" data-align="right">分享刚上传的视频</a>
        </div>
    </div>
</div>
    

<div data-role="view" id="tabstrip-settings" data-title="系统设置" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
           系统设置
            <ul>
                <li>上传后自动压缩视频 <input type="checkbox" data-role="switch" checked></li>
                <li>朋友浏览时推荐视频 <input type="checkbox" data-role="switch" checked></li>
          
                
            </ul>
        </li>
        <li >
             Dakava项目
            <ul>
                <li>意见反馈</li>
                <li>联系我们</li>
            
                
            </ul>
        </li>
    </ul>
   
</div>

<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <!--
            <a data-align="right" data-role="button" class="nav-button" data-icon="home" href="#/"></a>
            
            <a data-align="right" data-icon="camera" data-role="button" href="#formappearance">选文件</a>
            -->
        </div>
    </header>

    <p>TabStrip</p>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#tabstrip-profile" data-icon="contacts">我的视频
            <!--  
            </a><a href="#tabstrip-sales" data-icon="history">Sales
            </a><a href="#tabstrip-rating" data-icon="favorites">Rating
            -->
            
              </a><a href="#tabstrip-upload" data-icon="camera">我要上传
           
          
            </a><a href="#tabstrip-settings" data-icon="settings">系统设置</a>
        </div>
    </div>
</div>






<script type="text/x-kendo-tmpl" id="endless-scrolling-template">
        <img src="#=imageUrl#" alt="#=title# image" class="km-thumbnail"
        style="border-radius: 0;  border-style: none; "
        />
        <h4>#:title#</h4>
      
  
 
        <p>#:kendo.toString(kendo.parseDate(createdAt, "yyyy-MM-ddTHH:mm"), "yyyy-MM-dd HH:mm")#</p>
        <p>&nbsp;#:kendo.toString(introduction, "c")#</p>
  
</script>

<script>
    function mobileListViewEndlessScrolling() {
           var crudServiceBaseUrl = "",
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl + "/<%= api %>/find",
                                    dataType: "json"
                                   , data: { where: '{"authorId":"<%= user %>"}', sort:'createdAt DESC' }
                                },
							
                                update: {
                                    url: function(options) {
									console.log("options.id:" + options.id);
										return crudServiceBaseUrl + "/<%= api %>/" + options.id;
									}
									,
                                    dataType: "json" ,
									type: "PUT",
									data: {
										user: "<%= user %>"
									}
                                },
                                destroy: {
                                    url: crudServiceBaseUrl + "/<%= api %>/destroy",
                                    dataType: "json" ,
									data: { q: "html5" }
                                },
                                create: {
                                    url: crudServiceBaseUrl + "/<%= api %>/create",
                                    dataType: "json" ,
									type: "POST",
									data: {
										user: "<%= user %>"
									}
                                }
                            },
                            batch: false,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        createdAt: {  },
                                        updatedAt: {  },
										name: { validation: { required: true } },
                                    }
                                }
                            }
                        });

        $("#endless-scrolling").kendoMobileListView({
            dataSource: dataSource,
            template: $("#endless-scrolling-template").text(),
            endlessScroll: true
        });
    }
</script>

<style>
#endless-scrolling h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}
</style>

<style>
    .sales-down,
    .sales-hold,
    .sales-up,
    .value {
        float: right;
    }
    .sales-up { color: #4caf50; }
    .sales-down { color: #ff4350; }
    .sales-hold { color: #2196f3; }
    .value { color: #c7cdd0; }
</style>


<script>
    var app = new kendo.mobile.Application(document.body, { skin: "nova" });
</script>
</body>
</html>
