<!DOCTYPE HTML>
<html>
<head>
    <base href="/">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title>Dakava视频分享朋友圈工具</title>
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.1.112/styles/kendo.mobile.all.min.css" />

    <script src="//kendo.cdn.telerik.com/2016.1.112/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.1.112/js/kendo.all.min.js"></script>
    <script src="http://wx.jprda.com/components/jquery/MultiFile/jquery.MultiFile.js"></script>	
	
</head>
<body>
<div data-role="view" id="tabstrip-profile" data-init="mobileListViewEndlessScrolling"  data-title="我的视频" data-layout="mobile-tabstrip">
    <ul id="endless-scrolling"></ul>
</div>



<div data-role="view" id="tabstrip-upload" data-title="我要上传" data-layout="mobile-tabstrip">
 <form  method="post" action="/<%= api %>/myVideoUpload" id="uploadForm" enctype="multipart/form-data">
  
        <ul data-role="listview" data-style="inset">


            <li>
                <label>
                    视频文件
                     <input type="file"  value="选择文件" id="url" name="myVideo" />
                </label>
            </li>
            <li>
                <label>视频标题
                    <input type="text" name="title" value="请输入标题" id="title" />
                </label>
            </li>
            <li>
                <label>
                    说明
                    <textarea style="resize: none" id="introduction" name="introduction">请输入描述</textarea>
                </label>
            </li>
            <li>
                    <i></i> <a data-role="button" id="uploadButtom" class="km-primary km-justified" data-icon="action" >上传视频文件</a>
                    <input type="hidden" id="authorId" value="<%= user %>"/>
                    <input type="hidden" id="authorNickname" value="<%= user %>"/>
            </li>
        </ul>
    </form>
</div>
<script>



$(document).ready(function(){




  $("#uploadButtom").click(function(){
    console.log('uploading.');
    
    
    /*
	$.post("/<%= api %>/myVideoUpload",{
        title : $("#title").val(),
        introduction : $("#introduction").val(),
        url : $("#url").val(),
        imageUrl : $("#url").val(),
        authorId : $("#authorId").val(),
        authorNickname : $("#authorNickname").val()
        },function(data, textStatus, jqXHR) {
        
            $(".result").html(data);
        },"json"
    );    
    */
	$("#uploadForm").submit();
	if(true){
		return;
	}
	var url = "/<%= api %>/myVideoUpload";
	console.log('uploadForm:' + $("#uploadForm"));
	$("#uploadForm").ajaxSubmit({  
           type: "POST",
           url: url,
            mimeType: "multipart/form-data",
           contentType: false,
           processData: false,        
           success: function(data)
           {	
				console.log("提交成功");
		   }
		   });
    console.log('finish.');
  });
});



</script>


<div data-role="view" id="tabstrip-settings" data-title="系统设置" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Eduardo Batista
            <ul>
                <li>Notify when online <input type="checkbox" data-role="switch" checked></li>
                <li>Administrator <input type="checkbox" data-role="switch"></li>
                <li>Access to stats <input type="checkbox" data-role="switch" checked></li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="layout" data-id="mobile-tabstrip" data-show="showDemoLayout">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <!--
            <a data-align="right" data-role="button" class="nav-button" data-icon="home" href="#/"></a>
            
            <a data-align="right" data-icon="camera" data-role="button" href="#formappearance">选文件</a>
            -->
        </div>
    </header>

    <p>TabStrip</p>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#tabstrip-profile" data-icon="contacts">我的视频
            <!--  
            </a><a href="#tabstrip-sales" data-icon="history">Sales
            </a><a href="#tabstrip-rating" data-icon="favorites">Rating
            -->
            
              </a><a href="#tabstrip-upload" data-icon="camera">我要上传
           
          
            </a><a href="#tabstrip-settings" data-icon="settings">系统设置</a>
        </div>
    </div>
</div>






<script type="text/x-kendo-tmpl" id="endless-scrolling-template">
        <img src="#=imageUrl#" alt="#=title# image" class="km-thumbnail"
        style="border-radius: 0;  border-style: none; "
        />
        <h4>#:title#</h4>
        <p>#:kendo.toString(introduction, "c")#</p>
</script>

<script>
    function mobileListViewEndlessScrolling() {
           var crudServiceBaseUrl = "",
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl + "/<%= api %>",
                                    dataType: "json"
                                   , data: { where: '{"authorId":"<%= user %>"}' }
                                },
							
                                update: {
                                    url: function(options) {
									console.log("options.id:" + options.id);
										return crudServiceBaseUrl + "/<%= api %>/" + options.id;
									}
									,
                                    dataType: "json" ,
									type: "PUT",
									data: {
										user: "<%= user %>"
									}
                                },
                                destroy: {
                                    url: crudServiceBaseUrl + "/<%= api %>/destroy",
                                    dataType: "json" ,
									data: { q: "html5" }
                                },
                                create: {
                                    url: crudServiceBaseUrl + "/<%= api %>/create",
                                    dataType: "json" ,
									type: "POST",
									data: {
										user: "<%= user %>"
									}
                                }
                            },
                            batch: false,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        createdAt: {  },
                                        updatedAt: {  },
										name: { validation: { required: true } },
                                    }
                                }
                            }
                        });

        $("#endless-scrolling").kendoMobileListView({
            dataSource: dataSource,
            template: $("#endless-scrolling-template").text(),
            endlessScroll: true
        });
    }
</script>

<style>
#endless-scrolling h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}
</style>

<style>
    .sales-down,
    .sales-hold,
    .sales-up,
    .value {
        float: right;
    }
    .sales-up { color: #4caf50; }
    .sales-down { color: #ff4350; }
    .sales-hold { color: #2196f3; }
    .value { color: #c7cdd0; }
</style>


<script>
    var app = new kendo.mobile.Application(document.body, { skin: "nova" });
</script>
</body>
</html>
